body{
 background-color:rgb(49, 38, 123);
 box-shadow: 20,11,20,11;
}
header{
    font-size: 40px;
    color: rgb(101, 199, 202);
    font-style: italic;
    border-radius: 7px;
    box-shadow: 12 9 12 9;
    
}
h3{
    background-color:(cornsilk);
    
}
button{
    border-radius: 20px;
    
}